.artboard-header
  background #252525
  color #fff

.artboard-header a
  color #aaa

.artboard-header > .in
  padding 24px 0 12px

.artboard-header .title
  font-size 16px
  font-weight bold
  line-height 24px
  margin-bottom 12px

.artboard-main
  padding 48px 0

.artboard-nav
  bottom 0
  height 108px
  left 0
  position fixed
  right 0
  z-index 9999

.artboard-paging
  background #2e3641
  top 36px
  border-radius 5px
  height 48px
  list-style none
  left 50%
  margin 0
  opacity 0
  padding 0
  position absolute

.artboard-nav:hover > .artboard-paging
  opacity 1

.artboard-paging > li
  float left

.artboard-paging > li > .page
  border-right 1px solid #444
  display block
  height 48px
  width 24px

.artboard-paging > li > .page:hover
.artboard-paging > li > .page.activated
  background: #f97e76

.artboard-paging > li > .page span
  color #222
  display none
  font-weight bold
  left 0
  position absolute
  text-align center
  top -36px
  right 0

.artboard-paging > li > .page:hover span
  display block

.artboard-paging > li > .next,
.artboard-paging > li > .prev
  display block
  width 48px
  height 48px
  text-indent -32000px

.artboard-paging > li > a.next
  background url(sprite-y.png) 0 0 no-repeat
  border-radius 0 5px 5px 0

.artboard-paging > li > a.prev
  background url(sprite-y.png) 0 -100px no-repeat
  border-right 1px solid #444
  border-radius 5px 0 0 5px

.artboard-paging > li > a.next:hover,
.artboard-paging > li > a.prev:hover
  background-color #f97e76