.artboard-nav
  bottom 0
  height 108px
  left 0
  position fixed
  right 0
  z-index 9999

.artboard-paging
  background #2e3641
  top 36px
  border-radius 5px
  height 48px
  list-style none
  left 50%
  margin 0
  opacity 1
  transition opacity 200ms ease-out
  padding 0
  position absolute

.js-autohide > .artboard-paging
  opacity 0

.js-autohide > .artboard-paging:hover
  opacity 1

.artboard-paging > li
  float left

.artboard-paging > li > .page
  border-right 1px solid rgba(0, 0, 0, .25)
  display block
  height 48px
  width 12px

.artboard-paging > li > .page:hover
.artboard-paging > li > .page.activated
  background: #3498db

.artboard-paging > li > .page span
  color #222
  display none
  font-weight bold
  left 0
  overflow hidden
  position absolute
  text-overflow ellipsis
  text-align center
  top -36px
  right 0
  white-space nowrap

.artboard-paging > li > .page:hover span
  display block

.artboard-paging > li > .next,
.artboard-paging > li > .prev
  background url(sprite-y.png) 0 -200px no-repeat
  display block
  width 48px
  height 48px
  text-indent -32000px

.artboard-paging > li > .prev
  background url(sprite-y.png) 0 -300px no-repeat
  border-right 1px solid rgba(0, 0, 0, .25)

.artboard-paging > li > a.next
  background url(sprite-y.png) 0 0 no-repeat
  border-radius 0 5px 5px 0

.artboard-paging > li > a.prev
  background url(sprite-y.png) 0 -100px no-repeat
  border-radius 5px 0 0 5px

.artboard-paging > li > a.next:hover,
.artboard-paging > li > a.prev:hover
  background-color #3498db