/* Sections
-----------------------------------------------------------------------------

Vertical stripes you can use for scrolling content
*/

.section
  /* A default splash of color */
  background #e5e5e5 center center no-repeat
  /* Add 2px of padding to top and bottom in order to contain margins of
  `.slide > in`. */
  padding 2px 0
  z-index 100

.section:nth-child(even)
  /* Alternate colors by default. */
  background-color #fff

.section > .in
  /* We're approximating a 1280x720 slide. We want the slide to be 720px high at
  minimum. Take into account some top and bottom whitespace, plus the 2px padding
  on `.slide`. */
  min-height (720px - (48px - 2px) - (36px - 2px))
  margin (48px - 2px) auto (36px - 2px)  
  position relative

.section .header
  margin-bottom 12px

.section .content
  margin-bottom: 12px

/* Slides
----------------------------------------------------------------------------- */

.slide-1280x720
  background #eee center center
  border-radius 3px
  height 720px
  width 1280px

.slide-1280x720.pin-center
  left 50%
  margin -360px 0 0 -640px
  position absolute
  top 50%

.slide-fullscreen
  background-color: #999
  height 100%
  position relative
  width 100%

.slide-caption-t
  background #2e3641
  color #fff
  font-size 16px
  left 0
  padding 24px 0 24px
  position absolute
  right 0
  top 24px

a.credit
  bottom 12px
  position absolute
  right 12px
  text-decoration none
  z-index 10000

.slide-takahashi
  background #eee
  color #777

.slide-takahashi > .in
  padding 96px 0

.slide-takahashi > .in > .title
  font-size 96px
  font-weight bold
  line-height 1.125
  margin-bottom 24px

.slide-takahashi > .in > .content
  font-size 36px
  line-height 48px

.slide-takahashi > .in > .content > p
  margin-bottom 24px

/* Utilities
----------------------------------------------------------------------------- */

.background-repeat
  background-position center center
  background-repeat repeat

.background-cover
  /* Any background image on slide should cover it. */
  background-position center center
  background-size cover
  background-repeat no-repeat

.background-center
  background-position center center
  background-repeat no-repeat

/* Absolute positioning helpers
-----------------------------------------------------------------------------

Pin text to the corner of a slide (or anywhere, really). Best used inside of .in:

    .slide > .in > .pin-tr.unit6
*/
.pin-tl
  left 0
  position absolute
  top 0

.pin-tr
  position absolute
  right 0
  top 0

.pin-bl
  bottom 0
  left 0
  position absolute

.pin-br
  bottom 0
  position absolute
  right 0

.abs
  position absolute