/* Stickies
------------------------------------------------------------------------------ */

.sticky
  background #ffff55
  color #000
  border-radius 3px
  box-shadow 1px 1px 3px rgba(0, 0, 0, .3)
  font-size 18px
  margin-bottom 24px
  min-height 200px
  padding 24px 20px 24px
  width 260px

.sticky:nth-child(2n+2)
  transform rotate(3deg)

.sticky:nth-child(2n+5)
  transform rotate(-2deg)

.sticky.pink,
.annotation.pink > .content
  background #f75271

.sticky.green,
.annotation.green > .content
  background #a5e056

.sticky.blue,
.annotation.blue > .content
  background #52d7ec

.sticky:hover
  z-index 2

.sticky > .content
  margin-bottom 12px

.sticky-small
  font-size 12px
  min-height 100px
  width 140px

/* Annotation
----------------------------------------------------------------------------- */

.annotation
  height 28px
  position absolute
  width 28px

.annotation:before
  content ''
  background #e74c3c
  border 2px solid #fff
  border-radius 14px
  box-shadow 1px 1px 3px rgba(0, 0, 0, .3)
  height 24px
  width 24px
  position absolute
  z-index 99

.annotation > .content
  background #34495e
  color #fff
  font-size 12px
  border-radius 3px
  box-shadow 1px 1px 3px rgba(0, 0, 0, .3)
  left -32000px
  opacity 0
  transition opacity 200ms linear
  padding 18px 20px
  position absolute
  top 14px
  width 260px

.annotation:hover > .content
  opacity 1
  left 14px

.annotation > .content > p:last-child
  margin-bottom 0
