doctype 5
- var classes = classname(document.classes, 'slide slide-text')
- var htmlStyle = [document.html_style, document.slide_style].join(' ')
html(style=htmlStyle, class=classes)
  head
    include head
    include next-link
  body
    .in
      .title= document.title
      .content.unit6
        != content

    include artboard-nav
    include foot
